export AZURE_DEFAULTS_GROUP=my-fun-resource-group
export AZURE_DEFAULTS_WEB=my-fun-app-name

export AZURE_TENANT_ID=
export AZURE_CLIENT_ID=
export ALLOWED_CLIENT_IDS=
export REQUIRED_SCOPE=
export APPLICATION_ID_URI=
export BASE_URL=
